[submodule "DE_social_media_analytics"]
	path = DE_social_media_analytics
	url = https://github.com/iasivkov/DE_social_media_analytics.git
[submodule "DE_recsys_spark_hadoop"]
	path = DE_recsys_spark_hadoop
	url = https://github.com/iasivkov/DE_recsys_spark_hadoop.git
